# Ignore all Node.js dependencies folders across the repository
node_modules/
**/node_modules/

# Ignore environment files
.env
.env.*
!.env.example
!**/.env.example

# Ignore frontend build outputs
back-office-portal/dist/
mobile-app/dist/
